{% extends 'base_home.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-container">
    <img src="{% static 'img/fundo.png' %}" class="fundo" alt="Fundo misterioso">
    <img src="{% static 'img/arvoresquerda.png' %}" class="arvore-esquerda" alt="Árvore esquerda">
    <img src="{% static 'img/arvoredireita.png' %}" class="arvore-direita" alt="Árvore direita">
    <img src="{% static 'img/titulo.png' %}" class="titulo" alt="Título Scooby-Doo">
    <img src="{% static 'img/van.png' %}" class="van" alt="Mystery Machine">

    <a href="{% url 'inicio' %}?animacao=1" class="btn">{{ home.botao_texto }}</a>
</div>
{% endblock %}
